build*
venv
*.so
*.so.*
*.o
*.o.*
*.i
*.i.*
*.cil.*
**/__pycache__
compile_commands.json
dist
Liballocs_FFI.egg*


# CMake (out-of-source builds live in build/, which is ignored above)
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
/Testing/


contrib/config.mk
contrib/env.sh
